
 h1{
  color:brown
}
            *{
                border:solid;
            }
    .header{
        background-color: aqua;
        display:flex;
        justify-content: space-between;
    }